<% provide(:title, "Cart") %>

<div class="w3-container">
<% if @cart.empty? %>
<h1>Your cart is empty</h1>
<% end %>
</div>


<div class="w3-container">
  <div class="w3-panel w3-green w3-jumbo w3-center w3-topbar w3-bottombar w3-border-black">Cart</div>
  
  <div id="cartIndex w3-container">
    <table id="customers">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>-</th>
            <th>Qty</th>
            <th>+</th>
            <th>Item Total</th>
            <th>Remove</th>
        </tr>
        
        <% total=0 %>
        <% @cart.each do |id, quantity| %>
        <% item=Item.find_by_id(id) %>
        <tr>
            <td>
                <div class="image">
                    <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
                </div>
            </td>
            <!--<td class= "title"><%= link_to (image_tag item.image_url, :style => "width=100%"), item %></td>-->
            <td class= "title"><%= link_to item.title, item %></td>
            <td class="price"><%= number_to_currency(item.price, :unit =>"€") %></td>
            <td class="title"><a href="/decrease/<%= item.id %>">-</a></td>
            <td class="quantity"><%= quantity %></td>
            <td class="title"><a href="/increase/<%= item.id %>">+</a></td>
            <td class="price"><%= number_to_currency(quantity * item.price, :unit =>"€") %></td>
            <td><a href="/remove/<%= item.id %>">Remove From Cart</a></td>
        </tr>
        
        <% total += quantity*item.price %>
        
        <% end %>
        
        <tr>
            <td>Total: <%= number_to_currency(total, :unit => "€") %></td>
        </tr>
    </table>
    
    <p> 
    <a href="/items" class="button">Continue Shopping</a>
    <a href="/clearcart" class="button">Clear Cart</a>
    <a href="/checkout" class="button">Confirm Order</a>
    </p>
    
</div>
</div>