<div class+"w3-container">
    <div id="itemsContainer">
    <h1>Thank You<br>
    You have just placed an order <%= @orderxxx.order_date %></h1>
</div>

<table id="customers">
    <% @total = 0 %>
    <% @orderitems.each do |id,quantity| %>
    <tr>
        <% product = Orderproduct.find_by_id(id) %>
        <td><%= product.title %></td>
        <td><%= product.quantity %></td>
        <td><%= number_to_currency(product.price, :unit => "€") %></td> 
        <td><%= number_to_currency(product.quantity * product.price, :unit => "€") %></td>
    </tr>
    
    <% timx = (product.quantity * product.price)%>  timx is a variable name which you can call whatever you like 
    <% @total += timx %>
      
    </tr>
    <% end %>

    <tr>
        <td>Order Total: &euro; <%= @total %></td>
    </tr>
</table>
</div>

