<div class='customers'>
  
  <div class="w3-card-4">
    <div class="w3-container w3-purple w3-text-white w3-center">
      <h2>New Customer</h2>
    </div>
    
    <br>
    
    <div class="w3-container w3-text-grey">
      <%= form_for(customer) do |f| %>
        <% if customer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      
            <ul>
            <% customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :first %>
          <%= f.text_field :fname %>
        </div>
      
        <div class="field">
          <%= f.label :last %>
          <%= f.text_field :lname %>
        </div>
      
        <div class="field">
          <%= f.label :phone %>
          <%= f.text_field :phonenumber %>
        </div>
      
        <div class="field">
          <%= f.label :date_of_birth %>
          <%= f.date_select :date_of_birth %>
        </div>
      
        <div class="field">
          <%= f.label :user_id %>
          <%= f.text_field :user_id %>
        </div>
      
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
      
<br>