<% provide(:title, "Orders") %>

<% #if admin_signed_in? %>
<%= link_to 'New Order',  new_order_path, :class => "w3-button w3-orange w3-hover-green w3-round-xxlarge w3-margin-left", :role => "button" %>
<% #end %>

<p id="notice"><%= notice %></p>

<!--<h1>Orders</h1>-->

<div class="w3-container">
  <div class="w3-panel w3-pale-green w3-jumbo w3-center w3-topbar w3-bottombar w3-border-black w3-animate-zoom">Orders</div>
  
    <div class="w3-container">
      <table class="w3-table-all w3-card-4 w3-large">
         <% @orders.each do |order| %>
        <tr>
          <th>Order date</th>
          <th>User</th>
          <th>Status</th>
        </tr>
       
        <tr>
          <td><%= order.order_date %></td>
          <td><%= order.user %></td>
          <td><%= order.status %></td>
          <% if user_signed_in? %>
          <td><%= link_to 'Show', order, :class => "button", :role => "button" %></td>
          <td><%= link_to 'Edit', edit_order_path(order), :class => "button", :role => "button" %></td>
          <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<br>