<% if @order.user.email == current_user.email %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<div id="itemsContainer">
    <table id="customers">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Item Total</th>
        </tr>

        <% total = 0 %>
        <% @orderitems.each do |id, quantity| %>
        <% item = Orderitem.find_by_id(id) %>

        <tr>
            <td class="title"><%= item.title %></td>
            <td class="price"><%= number_to_currency(item.price, :unit =>"€") %></td>
            <td class="title"><%= item.quantity %></td>
            <td class="price"><%= number_to_currency(item.quantity * item.price, :unit =>"€") %></td>
        </tr>

        <% total += item.quantity * item.price %>
        <% end %>

        <tr>
            <td>Order Total: <%= number_to_currency(total, :unit =>"€") %></td>
        </tr>

        <% shipping = 5 %>
        <% @overalltotal = shipping + total %>
        <tr>
            <td>
                Shipping is €5
            </td>
            <td>
                Your total is =  €<%= @overalltotal %>
            </td>
        </tr>
    </table>
</div>

<% else %>

<h1>Oops, wrong account</h1>

<% end %>
