<% provide(:title, "Addresses") %>

<% #if admin_signed_in? %>
<%= link_to 'New Address',  new_address_path, :class => "w3-button w3-orange w3-hover-green w3-round-xxlarge w3-margin-left", :role => "button" %>
<% #end %>

<p id="notice"><%= notice %></p>

<div class="w3-container">
  <div class="w3-panel w3-deep-orange w3-jumbo w3-center w3-topbar w3-bottombar w3-border-black">Address</div>
  <% @addresses.each do |address| %>
  
  <div class="address w3-container">
      <div class="w3-sand w3-padding-32 w3-half" style="height:400px">
        
      </div>
  
    <div class="w3-sand w3-padding-64 w3-half" style="height:400px">
      <h1><%= address.address1 %></h1>
      <div class="w3-margin-left"></div>
      <p><%= address.address2 %></p>
      <p><%= address.city %></p>
      <p><%= address.state %></p>
      <p><%= address.country %></p>
      <p><%= address.postcode %></p>
      <p><%= address.customer %></p>
      <p><%= address.payment %></p>
      <p><%= address.shipping %></p>
      <p>
        <% if user_signed_in? %>
        <%= link_to 'Show', address, :class => "button", :role => "button" %>
        <%= link_to 'Edit', edit_address_path(address), :class => "button", :role => "button" %>
        <%= link_to 'Delete', address, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
        <% end %>
      </p>
    </div>
  </div>
    
  <% end %>
  
</div>
  
<br>

      <!--<h1>Addresses</h1>
      
      <table>
        <thead>
          <tr>
            <th>Address1</th>
            <th>Address2</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Postcode</th>
            <th>Customer</th>
            <th>Payment</th>
            <th>Shipping</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <#% @addresses.each do |address| %>
            <tr>
              <td><#%= address.address1 %></td>
              <td><#%= address.address2 %></td>
              <td><#%= address.city %></td>
              <td><#%= address.state %></td>
              <td><#%= address.country %></td>
              <td><#%= address.postcode %></td>
              <td><#%= address.customer %></td>
              <td><#%= address.payment %></td>
              <td><#%= address.shipping %></td>
              <td><#%= link_to 'Show', address %></td>
              <td><#%= link_to 'Edit', edit_address_path(address) %></td>
              <td><#%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <#% end %>
        </tbody>
      </table>
      
      <br>
      
      <#%= link_to 'New Address', new_address_path %>-->
