<div class="addressSuccess">
   <div class="w3-card-4">
      <div class="w3-container w3-deep-orange w3-text-white w3-center w3-wide">
        <h2>Success!! Address created</h2>
      </div>
      
      <p id="notice"><%= notice %></p>
      
      <div class="w3-center w3-wide">     
    
      <p>
        <strong>Address1:</strong>
        <%= @address.address1 %>
      </p>
      
      <p>
        <strong>Address2:</strong>
        <%= @address.address2 %>
      </p>
      
      <p>
        <strong>City:</strong>
        <%= @address.city %>
      </p>
      
      <p>
        <strong>State:</strong>
        <%= @address.state %>
      </p>
      
      <p>
        <strong>Country:</strong>
        <%= @address.country %>
      </p>
      
      <p>
        <strong>Postcode:</strong>
        <%= @address.postcode %>
      </p>
      
      <p>
        <strong>Customer:</strong>
        <%= @address.customer %>
      </p>
      
      <p>
        <strong>Payment:</strong>
        <%= @address.payment %>
      </p>
      
      <p>
        <strong>Shipping:</strong>
        <%= @address.shipping %>
      </p>
      
      <div class="w3-panel w3-pale-green w3-padding-24">
          <%= link_to 'Edit', edit_address_path(@address), :class => "w3-button w3-orange w3-hover-green w3-round-large w3-margin-left", :role => "button" %> 
          <%= link_to 'Back', addresses_path, :class => "w3-button w3-orange w3-hover-green w3-round-large w3-margin-left", :role => "button" %>
        </div>
      </div>
    </div>
</div>

