<p id="notice"><%= notice %></p>

<p>
  <strong>Offertype:</strong>
  <%= @offer.offertype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Pricereduction:</strong>
  <%= @offer.pricereduction %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
