<div class="login">
   <div class="w3-card-4">
      <div class="w3-container w3-pink w3-text-white w3-center">
        <h2>Sign up</h2>
      </div>

<!--<h2>Sign up</h2>-->

    <div class="w3-container w3-sand w3-text-grey w3-padding-16">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
            <%= f.label :fname %><br />
            <%= f.text_field :fname, autofocus: true %>
          </div>
        
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:100%" %>
          </div>
        
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", style: "width:100%" %>
          </div>
        
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width:100%" %>
          </div>
        
          <br>
        
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
        
          <br>
        
        <%= render "users/shared/links" %>
        
    </div>

  </div>
</div>

<br>